<h2 align="center">Title: <%= @website.title %></h2>
<p align="center">Url: <%= @website.url %></p>
<p>Libaries: <%= @website.library.name %></p>
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class="center description"><strong>Notes:</strong></h4>
	<hr>	
	<%= simple_format(@website.note) %>
	<div class="content-actions">
		<% if user_signed_in? && (@current_user == @website.user || current_user.admin?) %>
		<%= link_to "Edit this website", edit_website_path(@website), class: "btn btn-xs btn-primary" %>
		<%= link_to "Delete this website", website_path(@website), method: :delete,
			data: { confirm: "Are you sure you want to delete the website?"}, class: "btn btn-xs btn-danger" %>
		<% end %>
		<%= link_to "View all websites", websites_path, class: "btn btn-xs btn-success" %>
	</div>
</div>